# generic
tmp/
*.log
.cache

# macosx
*.DS_Store

# java
*.class
*.jar
*.war
*.ear

# idea
*.iml
*.ipr
*.iws
.idea/

# compilation output
target/
project/target/
project/project/target/
client/target/
client/src/target/
client/src/test/scala/com/workday/esclient/unit/target
